.header{
    height: 80px;
    background: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav.header a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 32px;
}

nav.header a:hover{
    color: orange;
}

.user-info-text{
    color: greenyellow;
    margin: 0 20px;
}

.user-name-text{
    color: cyan;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}